<template>
  <div class="home">
    <div class="container">
      <div class="rellax-wrapper">
        <h1 v-rellax="{ speed: -2 }" v-html="$t('views.intro.title')" />
        <h2 v-rellax="{ speed: -2.5 }">
          <span>{{ $t('views.intro.subheading') }}</span>
          <br />
          <router-link :to="{ name: 'Intro' }">{{ $t('project.more') }}</router-link>
        </h2>
        <p
          v-rellax="{ speed: -2.6 }"
          style="font-size: 1.25rem; max-width: 700px; margin: 1rem auto"
          class="smaller"
          v-html="$t('views.intro.covidAlert')"
        ></p>
        <social-share
          v-show="false"
          :title="$t('views.intro.title')"
          :description="$t('views.intro.subheading')"
        />
        <div v-rellax="{ speed: -3 }" class="my-5">
          <b-button variant="outline-dark" size="lg" :href="formUrl">
            {{ $t('actions.createMemory') }}
          </b-button>
        </div>
      </div>
    </div>
    <div class="memory-shaper-wrapper" v-on:mousemove="updateCoordinates">
      <div class="memory-shapes container py-5">
        <a class="memory-shape-wrapper empty text-decoration-none" :href="formUrl">
          <div class="memory-shape pulsate-css"></div>
          <div>+</div>
        </a>
        <div
          class="memory-shape-wrapper d-flex align-items-center"
          :style="{
            width: `${3.5 * memory.scale}rem`,
            height: `${3.5 * memory.scale}rem`,
            backgroundImage: `url(${memory.getThumbnail()}`,
            backgroundSize: 'cover',
          }"
          @mouseover="selectMemory(memory)"
          @mouseout="unselectMemory"
          @click="openMemory(memory)"
          v-for="(memory, i) in memories"
          :key="i"
        >
          <div
            class="memory-shape"
            :style="{
              backgroundColor: `#${memory.color}`,
            }"
          ></div>
          <div class="hint">{{ memory.title }}</div>
        </div>
      </div>
    </div>
     <tooltip :item="selectedMemory" :visible="isSelectedMemoryVisible" :coords="coords" />
  </div>
</template>

<style lang="scss" scoped>
h1 {
  font-size: 2.15rem;
  line-height: 3rem;
  font-weight: bold;
  margin: 0 0 1rem;
  text-align: left;
}
h2 {
  font-size: 1.25rem;
  text-align: left;
}
@media (min-width: 768px) {
  h1 {
    margin-top: 0;
    font-size: 6rem;
    line-height: 6rem;
    text-align: center;
  }
  h2 {
    font-size: 2rem;
    text-align: center;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 8rem;
    line-height: 8rem;
  }
  h2 {
    font-size: 2rem;
  }
}

.memory-shapes {
  background: #f0f0f0;
  box-shadow: 0 -20px 20px #f0f0f0;
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: wrap;
  align-items: baseline;
  align-content: space-around;
  justify-content: center;
}
.memory-shape-wrapper {
  width: 10rem;
  height: 10rem;
  position: relative;
  float: left;
  border-radius: 50%;
  margin: 5px 10px;
  cursor: pointer;
  .hint {
    font-size: 0.8rem;
    width: 100%;
    max-height: 80%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 1px #000;
  }
  &:hover .memory-shape {
    transform: scale(0.15);
  }
  transition: transform 0.25s;
  &:hover {
    transform: scale(1.2);
  }
}

.memory-shape-wrapper.empty {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .memory-shape-wrapper {
    width: 10rem;
    height: 10rem;
  }
}
.memory-shape {
  background: #fe654f;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  border-radius: 50%;
  opacity: 0.39;
  z-index: -1;
  transition: transform 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.pulsate-css {
  animation: pulsate 1s ease-out;
  animation-iteration-count: 5;
}
</style>
<script>
import { items } from '@/services';
import Memory from '@/models/Memory';
import Tooltip from '@/components/Tooltip.vue';
import SocialShare from '@/components/SocialShare.vue';

export default {
  data: () => ({
    memories: [],
    totalMemories: 0,
    selectedMemory: new Memory(),
    isSelectedMemoryVisible: false,
    coords: {
      x: 0,
      y: 0,
    },
  }),
  mounted() {
    console.log('lang:', this.$route.query.lang);
    this.isSelectedMemoryVisible = false;
    items.find().then(({ data, total }) => {
      this.totalMemories = total;
      this.memories = data.map((d) => Memory.create(d));
    });
  },
  computed: {
    formUrl() {
      return `${process.env.VUE_APP_FORM_URL}?lang=${this.$i18n.locale}`;
    },
  },
  methods: {
    openMemory(memory) {
      this.$router.push({
        name: 'Memory',
        params: {
          id: memory.id,
        },
      });
    },
    selectMemory(memory) {
      this.selectedMemory = memory;
      this.isSelectedMemoryVisible = true;
    },
    unselectMemory() {
      this.isSelectedMemoryVisible = false;
    },
    updateCoordinates(event) {
      this.coords = {
        x: event.clientX,
        y: event.clientY + window.scrollY,
      };
    },
    memoryRellaxParams(i) {
      return {
        speed: -2 - Math.sqrt(i + 1),
      };
    },
    async recaptcha() {
      // (optional) Wait until recaptcha has been loaded.
      await this.$recaptchaLoaded();

      // Execute reCAPTCHA with action "login".
      await this.$recaptcha();

      // Do stuff with the received token.
      // console.info('recaptcha', token);
    },
  },
  components: {
    Tooltip,
    SocialShare,
  },
};
</script>
