<template>
  <page class="terms">
    <template v-slot:title>
      <span v-html="$t('views.terms.title')" />
    </template>
    <template v-slot:subheading>
      <span v-html="$t('views.terms.subheading')" />
    </template>
    <div>
      <!-- <div v-if="$i18n.locale === 'fr'">
        (FR)
      </div>
      <div v-else-if="$i18n.locale === 'de'">
        (DE)
      </div>
      <div v-else> -->
      <div>
        <h3>Legal notice</h3>

        <p>
          Luxembourg Centre for Contemporary and Digital History (C²DH) –
          University of Luxembourg<br />
          2, Avenue de l'Université<br />
          L-4365 Esch-sur-Alzette (LUXEMBOURG)<br />
          Tel.: +352 46 66 44 1<br/>
          <a href="mailto:c2dh@uni.lu"><span >c2dh@uni.lu</span></a>
        </p>
        <h3>
          Members of the Editorial board
        </h3>

        <p>
          Editor in Chief: <b>Stefan Krebs</b>
        </p>

        <p>
          Reviewers/Curators: <b>François Klein</b>,
          <b>Marco Gabellini</b>, <b>Cécile Duval</b>, <b>Laurence Maufort</b>
        </p>

        <p>
          Technical advisor:
          <a href="https://www.c2dh.uni.lu/people/lars-wieneke">
            <b>Lars Wieneke</b>
          </a>
        </p>

        <p>
          This site is hosted by the <a href="https://uni.lu" target="_blank">
          University of Luxembourg</a>
        </p>

        <h3>
          Terms of use
        </h3>
        <p>
          Consultation of this site is subject to the terms and conditions
          set out below.
        </p>

        <p>
          By consulting the pages of this site, you agree to respect these
          terms and conditions.
        </p>

        <p>
          You are solely responsible for the selection, use and interpretation
          of the data which you consult, search and transmit on the Internet.
        </p>

        <p>
          The C²DH reserves the right to modify this legal notice at any time.
          By using this site, you agree to abide by the terms of use set out
          in the most recent version of the legal notice available on the
          website at the time of use.
        </p>

        <h3>
          Copyright
        </h3>

        <p>
          All the information available on the website
          <a href="https://covidmemory.lu">https://covidmemory.lu</a>,
          together with the information and documents that it contains (texts,
          images, photographs, etc.), is protected by intellectual property
          laws and by copyright legislation in all countries. <br />
          You undertake to respect these intellectual property regulations
          and the copyright usage restrictions provided with each
          document without prejudice to the rights and exceptions envisaged
          by any binding provisions of applicable law. All rights of
          reproduction, public communication, adaptation, distribution or
          rebroadcasting via the Internet, an intranet or any other means
          are strictly reserved in all countries. The documents available on
          this website are the exclusive property of the
          University of Luxembourg and/or of their authors or right holders.
          <br />
          You undertake not to remove or alter the copyright notice indicating
          the author or the source of a document, nor to circumvent the
          digital rights management protection of the documents, such as
          restrictions on printing or downloading
          and visible or invisible watermarking. Any infringement may give
          rise to civil or criminal proceedings.
        </p>

        <p>
          The photographs and personal documents available on the site may
          also be subject to the exclusive rights held by the persons
          photographed or by
          the owners of the aforementioned documents, all use being
          consequently subject
          to their prior authorisation.
        </p>

        <p>
          The official documents are authentic solely in their original
          version, which may be consulted by contacting their publisher.
        </p>

        <p>
          Content provided by the C²DH is not necessarily comprehensive,
          exhaustive, accurate or up to date. If, despite our best efforts,
          errors were to be found, the C²DH may not be held responsible.<br />
          The C²DH wouldnevertheless appreciate being informed of any
          such errors.
        </p>

        <h3>
          Permitted use
        </h3>

        <p>
          Users are solely responsible for their
          use of material provided on the site.
        </p>

        <p>
          Short quotations are permitted, provided that the name of the author
          of the quoted document and its source are cited.
        </p>

        <p>
          Unless otherwise indicated, reproduction of texts from this site
          for non-commercial purposes and especially in educational situations
          is permitted, subject to the following three conditions being met:
        </p>

        <ul type=disc>
          <li>
            Free dissemination;
          </li>
          <li>
            Respect for the integrity of the reproduced documents:
            no modification or alteration of any kind;
          </li>
          <li>
            Explicit mention of the site <a href="https://covidmemory.lu/">
            covidmemory.lu</a> as a source and statement that the rights of
            reproduction are reserved and limited.
          </li>
        </ul>
        <p>
          Any exception to these rules shall be subject to the prior written
          approval of the University of Luxembourg and the author/contributor
          of the website content.
        </p>

        <h3>
          Policy regarding links
        </h3>

        <p>
          Links to external websites or other sources do not constitute a
          recommendation or guarantee on the part of the C²DH regarding their
          content, which remains the exclusive responsibility of their authors.
        </p>

        <p>
          The C²DH is happy to authorise any website (source site) to insert,
          for non-commercial purposes, a hyperlink to the home page of the site
          <a href="https://covidmemory.lu/">covidmemory.lu</a>
          or to one of its inner pages (sites or target pages), provided that:
        </p>

        <ul type=disc>
          <li>
            the source site does not disseminate information of a political, religious,
            pornographic or xenophobic nature or which might offend the sensibilities
            of others;
          </li>
          <li>
            the target page of the site
            <a href="https://covidmemory.lu/">covidmemory.lu</a>
            does not launch in a frame as part of the source site but in a
            new window.
          </li>
        </ul>
        <p>
          The C²DH reserves the right to refuse this permission.
        </p>
        <p>
          The C²DH would appreciate being informed by e-mail (<a
        href="mailto:covidmemory@uni.lu" target="_blank">
        covidmemory@uni.lu</a>) of the creation
        of any links to the site <a href="https://covidmemory.lu/">
          covidmemory.lu</a>
        </p>

        <h2>
          Data privacy
        </h2>
        <h3>
          Your personal data and our website
        </h3>
        <p>
          The data collected on our site stem exclusively from personal
          information provided on a voluntary basis, for example when you
          contribute an item to the memory bank.
        </p>

        <p>
          It will not be shared with any organisation - commercial or otherwise
          excepted in case of external consultancy in relation with the website.
          In such case appropriate measures will be implemented.
        </p>

        <p>
          We will never divulge your personal data for direct marketing purposes.
        </p>

        <p>
          We put in place measures to ensure that your data are kept up-to-date
          and processed securely in compliance with the General Data Protection
          Regulation 2016/679 (hereafter “GDPR”).
        </p>

        <p>
          Our purpose is the collection of public contributions to build an
          archive for historical research about the Covid 19 outbreak in
          Luxembourg.
        </p>

        <p>
          According to the GDPR you have a right to access, rectify, erase,
          object to or restrict the processing related to your personal data.
          You can exercise your rights by sending a message to
          <a href="mailto:covidmemory@uni.lu">covidmemory@uni.lu</a>.
        </p>

        <p>
          We do not keep your personal information for longer than necessary
          for the purposes for which we collected it.
        </p>

        <p>
          However, we may keep your information for a longer period for
          historical, statistical or scientific purposes with the appropriate
          safeguards in place.
        </p>

        <h3>Cookies</h3>

        <p>
          The C²DH uses&nbsp;cookies&nbsp;on this website for its technical
          functioning and for gathering statistics.
        </p>

        <p>
          The legal basis for processing personal data by using session cookies
          is Art. 6 para. 1 pointf) GDPR (legitimate interest). Without the use
          of the session cookies especially, several functions could not
          be offered on our website.
        </p>

        <p>
          A cookie is a small piece of data that a website stores on the
          visitor’s computer or mobile device.
        </p>

        <p>
          The information on this page lists the cookies that this website
          uses and describes their purpose. You will also find some more detail
          here about cookies relating to our social media channels and Google
          Analytics, the service we use for our statistics.
        </p>

        <h3>
          Social media cookies
        </h3>

        <p>
          The C²DH is active on the following social media platforms:
          Facebook, Twitter and LinkedIn. These communities strengthen our
          online presence and visibility.
        </p>

        <ul type=disc>
          <li>
            The covidmemory.lu website does not set cookies with the display
            of links to our social media
            channels when you are browsing our website.
          </li>
        </ul>
        <h3>
          Session cookies
        </h3>
        <p>
          The covidmemory.lu website is using session cookies to ensure the c
          orrect usage of the website. Cookies used are deleted after the session.
        </p>
        <h3>
          Persistent cookies
        </h3>

        <p>
          Persistent cookies&nbsp;are saved on your computer and are not
          deleted automatically when you close your browser, unlike
          a&nbsp;session cookie,&nbsp;which is deleted when
          you close your browser.
        </p>

        <h3>Google Analytics</h3>

        <ul type=disc>
          <li>
            Google Analytics is a service which monitors and evaluates the
            effectiveness and efficiency of the covidmemory.lu website.
          </li>
          <li>
            This platform enables the protection of end-user personal data thanks to features such
            as IP address de-identification and a mechanism for users to opt-out so
            that their browsing is not processed for analytics purposes.
          </li>
          <li>
            Google provides information about the cookies used by Google Analytics.
          </li>
          <li>
            The cookies used by Google Analytics will be transmitted to and
            stored by Google on servers in the United States.
          </li>
        </ul>

        <h3>
          Privacy mesaures
        </h3>

        <p>
          Google Analytics is configured to use the domain “covidmemory.lu”
          and to store first-party cookies that expire after 2 years.
        </p>

        <p>
          Cookies are used by covidmemory.lu to track the following information
          about visitors. We use this information to prepare aggregated,
          anonymous statistics reports of visitor activity:
        </p>

        <ul type=disc>
          <li>
            IP address (masked)
          </li>
          <li>
            Location: country, region, city, approximate latitude and longitude (Geolocation)
          </li>
          <li>
            Date and time of the request (visit to the site)
          </li>
          <li>
            Title of the page being viewed (Page Title)
          </li>
          <li>
            URL of the page being viewed (Page URL)
          </li>
          <li>
            URL of the page that was viewed prior to the current page (Referrer URL)
          </li>
          <li>
            Screen resolution of user's device
          </li>
          <li>
            Time in local visitor's time-zone
          </li>
          <li>
            Files that were clicked and downloaded (Download)
          </li>
          <li>
            Links to an outside domain that were clicked (Outlink)
          </li>
          <li>
            Pages generation time (the time it takes for webpages to be
            generated by the webserver and then downloaded by the visitor:
            Page speed)
          </li>
          <li>
            Main language of the browser being used (Accept-Language header)
          </li>
          <li>
            Browser version, browser plugins (PDF, Flash, Java, …) operating
            system version, device identifier (User-Agent header)
          </li>
          <li>
            Language of the visited page
          </li>
          <li>
            Campaigns
          </li>
          <li>
            Site Search
          </li>
          <li>
            Events
          </li>
        </ul>

        <h3>Do not track preferences</h3>

        <p>
          Do not track is a function that allows visitors to opt out from being
          tracked by websites for any purpose including the use of analytics
          services, advertising networks and social platforms. Do not track
          options are available in a number of browsers including:
        </p>

        <p>
<a href="https://support.mozilla.org/en-US/kb/how-do-i-turn-do-not-track-feature"
target="_blank">Firefox</a>
        </p>

        <p>
<a href="https://support.microsoft.com/en-us/products/internet-explorer#ie=ie-11"
target="_blank">Internet Explorer</a>
        </p>

        <p>
<a href="https://support.google.com/chrome/answer/114836?hl=en&amp;ref_topic=3421433"
target="_blank">Chrome</a>
        </p>

        <p>
<a href="https://help.apple.com/safari/mac/9.0/#/sfri40732" target="_blank">
<span>Safari</span></a>
        </p>

        <p>
<a href="https://help.opera.com/en/presto/be-safe-and-private/#notrack"
target="_blank">Opera</a>
        </p>

        <ul type=disc>
          <li>
            If you enable&nbsp;do not track&nbsp;in your web browser,
            Google Analytics will respect your choice;
          </li>
          <li>
            If you have enabled the&nbsp;do not track&nbsp;function, you will
            not be tracked. This is in addition to your opting-out of the
            aggregation and analysis of data for our website statistics;
          </li>
          <li>
            If you have not enabled the&nbsp;do not track&nbsp;option but
            you choose to opt-out, the cookie ‘ga-disable-UA’ will be
            stored in your browser. All visitors with a ga-disable-UA
            cookie will not be tracked by Google Analytics;
          </li>
          <li>
            If you have disabled all cookies from your browser,
            we will still collect some general data about your browsing
            (e.g. a record of a visitor to our website) but they will
            be less accurate and your visit will not be tracked.
          </li>
        </ul>

        <h3>Restricted access to information</h3>

        <p>
          All analytics data communication is encrypted via HTTPS protocol.
          The analytical reports generated can only be accessed through by
          authorised University staff dealing with Google Analytics or by duly
          authorised external sub-contractors, who may be required to analyse,
          develop and/or regularly maintain certain websites.
        </p>

        <h3>Masking of IP addresses</h3>

        <p>
          Note: Institution, city and country origin are determined from the
          full IP, then stored and aggregated before a mask is applied.
          Google Analytics uses an IP de-identification mechanism that
          automatically masks a portion of each visitor's IP (Internet
          Protocol), effectively making it impossible to identify a
          particular visitor via the sole IP address.
        </p>

        <h3>Visitor log</h3>

        <p>
          Google Analytics automatically deletes visitors' logs after
          25 months. Anonymised and aggregated data are stored for an
          indefinite period by the University for analysis purposes.
        </p>

        <h3>Contact</h3>

        <p>
          Specific questions about the storage and use of Google Analytics
          data by the University can be sent to us by contacting
          us at <a href="mailto:covidmemory@uni.lu" target="_blank">
            covidmemory@uni.lu</a>.
        </p>

        <h3>Applicable law and attribution of jurisdiction</h3>

        <p>
          Luxembourg law is applicable and the courts of the Grand Duchy of
          Luxembourg have exclusive jurisdiction over any dispute
          regarding this site.
        </p>

        <h3>Contact</h3>

        <p>
          <a href="mailto:covidmemory@uni.lu" target="_blank">
          covidmemory@uni.lu</a>
        </p>
      </div>
    </div>
  </page>
</template>


<script>
import Page from '@/components/views/Page.vue';

export default {
  components: {
    Page,
  },
};
</script>
