<template>
  <div class="media-viewer w-100">
    <div v-if="media.type === 'video'">
      <video width="100%" style='max-height: 600px' controls Autoplay=autoplay>
        <source
          :src="media.originalUrl"
          :type="videoMimetype">
      </video>
    </div>
    <div v-else-if="media.type === 'application'">
      <figure style="max-width: 500px; margin: 2rem auto 0">
        <div class="picture" :style="largeThumbnailStyle"></div>
      </figure>
      <a class="btn btn-secondary mb-5 mt-2" :href="media.originalUrl" target="_blank">
        <b-icon icon="download"></b-icon> {{ $t('actions.download')}}
        <b-badge variant="light">{{ media.mimetype.split('/').pop() }}</b-badge>
      </a>
    </div>
    <figure v-else-if="media.type === 'image'">
      <div class="picture" :style="largeThumbnailStyle"></div>
    </figure>
    <figure v-else style="max-width: 500px; margin: 2rem auto ">
      <div class="picture" :style="largeThumbnailStyle"></div>
    </figure>
  </div>
</template>

<script>
export default {
  props: {
    media: Object,
  },
  computed: {
    videoMimetype() {
      return 'video/mp4';
    },
    largeThumbnailStyle() {
      return {
        backgroundImage: `url(${this.media.thumbnailUrls.large})`,
      };
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/styles/variables.scss";
figure {
  max-width: 500px;
  margin: 2rem auto;
}
.picture, {
  width: 100%;
  position: relative;
  padding-bottom: 100%;
  position: relative;
  background-color: $clr-black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: .5rem solid $clr-black;
}
@media (min-width: 996px) {
  figure {
    max-width: 600px;
  }
  .picture {
    border: 1rem solid black;
  }
}
</style>
