<template>
  <b-navbar class="navbar-desktop">
    <b-navbar-brand class="with-fixed-width">
      <div class='position-relative'>
        <a class="position-absolute c2dh-logo">
          <img src="../assets/uni-c2dh-black.svg"
            alt="Center for culturel"
            style="height:80px"
          />
        </a>
        <router-link class="position-absolute project-title" :to="{ name: 'Index' }">
          {{ $t('project.title') }}
        </router-link>
      </div>
    </b-navbar-brand>

    <b-navbar-nav class="mx-auto navbar-main">
      <b-nav-item :to="{ name: 'Index' }" exact>{{ $t('to.index') }}</b-nav-item>
      <b-nav-item :to="{ name: 'Intro' }">{{ $t('to.intro') }}</b-nav-item>
      <b-nav-item :to="{ name: 'Map' }">{{ $t('to.map') }}</b-nav-item>
      <b-nav-item :to="{ name: 'Memories' }">{{ $t('to.memories') }}</b-nav-item>
      <b-nav-form class="mx-2">
        <b-button :href="formUrl" size='sm' variant="outline-dark">
          {{ $t('to.create') }}
        </b-button>
      </b-nav-form>
    </b-navbar-nav>

    <b-navbar-nav class="with-fixed-width justify-content-end navbar-langs">
      <b-nav-item-dropdown :text="$t('languages')" right>
        <b-dropdown-item v-for="(option, i) in langs" :key="i"
          :active="option === lang"
          @click="changeLanguage(option)">
          {{ $t(`lang.${option}`) }}
        </b-dropdown-item>
      </b-nav-item-dropdown>
    </b-navbar-nav>
  </b-navbar>
</template>

<script>
export default {
  props: {
    langs: Array,
    // urrent Language
    lang: String,
    formUrl: String,
  },
  methods: {
    changeLanguage(lang) {
      this.$emit('change-language', lang);
    },
  },
};
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';

.navbar-desktop{
  // .navbar-main, .navbar-langs {
  //   padding: 0.25rem .25rem;
  //   border-radius: 0.125rem;
  // }
  .with-fixed-width{
    width: 100px;
  }

  .navbar-brand a.project-title {
    color: white;
    background-color: $clr-orange;
    font-size: 1rem;
    line-height: 1.25rem;
    border-radius: 0.125rem;
    padding: .25rem .5rem;
    text-transform: uppercase;
    top: 30px;
    left: 0;
    // background: -webkit-linear-gradient(#eee, #333);
    background: linear-gradient(90deg, black, $clr-crimson 25%, $clr-orange 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
  .navbar-brand a.c2dh-logo {
    top: -40px;
    left: 0;
  }

  .nav-link.router-link-active{
    background: $clr-black;
    border-radius: .25rem;
    color: white;
    &:focus{
      background: $clr-black;
      color: white;
    }
    &:hover{
      background: $clr-black;
      color: white;
    }
  }
}

.view-Map .navbar-desktop {
  position: relative;
  z-index: 1;
}
//   .navbar-main, .navbar-langs {
//     background: $clr-white;
//   }
//
//   .view-Map .navbar-langs {
//     padding: 0.25rem .25rem;
//   }
//   .nav-link.router-link-active{
//     // background: transparent;
//     // color: $clr-black;
//   }
// }
</style>
