<template>
  <div class="navbar-mobile-wrapper position-fixed"
    :class="{ active: isMenuVisible }">
    <b-container class="links pr-1 mt-3">
      <!-- <b-row class="text-center font-weight-bold my-3">
        <b-col>{{ $t('project.title') }}</b-col>
      </b-row> -->

      <b-row>
        <b-col class="text-right">
          <router-link class="d-block m-2" :to="{ name: 'Index' }" exact @click="toggleMenu">
            <span>{{ $t('to.index') }}</span>
          </router-link>
          <router-link class="d-block m-2" :to="{ name: 'Intro' }" @click="toggleMenu">
            <span>{{ $t('to.intro') }}</span>
          </router-link>
          <router-link class="d-block m-2" :to="{ name: 'Memories' }">
            <span>{{ $t('to.memories') }}</span>
          </router-link>

        </b-col>
        <b-col class="text-left">
          <router-link class="d-block m-2" :to="{ name: 'About' }">
            <span>{{ $t('to.about') }}</span>
          </router-link>
          <router-link class="d-block m-2" :to="{ name: 'Terms' }">
            <span>{{ $t('to.terms') }}</span>
          </router-link>
          <router-link class="d-block m-2" :to="{ name: 'Map' }">
            <span>{{ $t('to.map') }}</span>
          </router-link>
        </b-col>
      </b-row>
    </b-container>

    <b-navbar class="navbar-mobile position-absolute">
      <b-navbar-brand>
        <div class='position-relative' style="width: 100px">
          <a class="position-absolute c2dh-logo">
            <img src="../assets/c2dh-logo.svg"
              alt="Center for culturel"
              style="height:25px"
            />
          </a>
        </div>
        <router-link class="position-absolute project-title" :to="{ name: 'Index' }">
          {{ $t('project.title') }}
        </router-link>
      </b-navbar-brand>

      <b-nav-form class="mx-auto">
        <b-button @click="toggleMenu" size='sm' variant="outline-dark" class="mr-1">
          <b-icon-list></b-icon-list>
        </b-button>
        <b-button :href="formUrl" size='sm' variant="outline-light"
          class="ml-1"
         style="border-radius:50%">
          <b-icon-plus />
        </b-button>
      </b-nav-form>

      <b-navbar-nav class="ml-auto">
        <b-nav-item v-for="(option, i) in langs" :key="i"
          :active="option === lang"
          @click="changeLanguage(option)">
          <span>{{ option }}</span>
        </b-nav-item>
      </b-navbar-nav>
    </b-navbar>
  </div>
</template>

<script>
import { BIconList } from 'bootstrap-vue';

export default {
  data: () => ({
    isMenuVisible: false,
  }),
  props: {
    langs: Array,
    formUrl: String,
    // urrent Language
    lang: String,
  },
  methods: {
    changeLanguage(lang) {
      this.$emit('change-language', lang);
    },
    toggleMenu() {
      this.isMenuVisible = !this.isMenuVisible;
    },
  },
  computed: {
    BIconList,
  },
};
</script>

<style lang="scss" scoped>
@import "@/styles/variables.scss";
  .navbar-mobile-wrapper{
    background: #fe654d;
    // background: #fe654e;
    // background: linear-gradient(180deg, #f68551 0%, rgba(254,101,78,1) 80%);
    height: 220px;
    width: 100%;
    top:0;
    transform: translate(0, -164px);
    transition: transform 0.414s cubic-bezier(0.83, 0, 0.17, 1);
    z-index: 1000;
    // border-bottom: 2px solid #270f0c;
    &.active{
      transform: translate(0, 0);
    }
    a{
      font-weight: bold;
      color: #270f0c;
    }
  }
  .links a{
    // text-decoration: underline;
    &.router-link-active{
      color: white;
      text-decoration: none;
      span{
        border-bottom: 2px solid #270f0c;
      }
    }
  }
  .navbar a.special.router-link-exact-active{
    color: $clr-black;
  }

  .navbar-mobile{
    height: 56px;
    bottom: 0;
    width: 100%;
    left: 0;
    background: #fe654e;
    a.nav-link{
      // color: white;
      &.active{
        color: white;
        span{
          border-bottom: 2px solid #270f0c;
        }
      }
    }
    .navbar-brand a.project-title {
      color: white;
      font-size: 0.8rem;
      top: 31px;
      left: 15px;
      text-transform: uppercase;
    }
    .navbar-brand a.c2dh-logo {
      top: -28px;
      left: 0;
    }
  }
</style>
